body {
    background: #14111b;
    font-family: sans-serif;
    padding: 1rem;
    color: white;
}

h1 {
    background: linear-gradient(to right, #ff1f35 0, #fa54ff 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 48px;
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 5px 0;
}
